
body {
    background-color:pink;
}
div {
    color:hotpink;
    font-family:"Comic Sans MS"; /*cette police ne marche pas sous Linux*/
    text-align: center;
}
img {
    border-radius: 50%;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-color:hotpink;
}
/*
.test{
    color:aquamarine;
} */ 